{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Person</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'Bootstrap\css\bootstrap.min.css' %} " rel="stylesheet" type="text/css" media="all">
  <script src="{% static 'Bootstrap\jquery\jquery.min.js' %}"></script>
  <script src="{% static 'Bootstrap\js\bootstrap.min.js' %}"></script>
</head>
<body>

    <div class="container"> 
      
  <div class = "container-full">
    <div class = "col-md-12">

      <h2>Contact Us</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
      
</div>
          
      
    </div>
    
  


</body>
</html>
